BACKEND_URL=http://localhost

S2S_API_KEY=Gz74oBls0HmCUmF3NjP9uQdNYHaG33OY

RABBITMQ_HOST=localhost
RABBITMQ_PORT=4242
RABBITMQ_PORT_UI=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

POSTGRES_HOST=localhost
POSTGRES_PORT=5731
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=micros

REDIS_HOST=localhost
REDIS_PORT=6380

JWT_ISSUER=micros.api
JWT_AUDIENCE=micros.api
JWT_ACCESS_SECURITY_KEY=12c57466e9e91ba8892c95aa0e302bbb7f532fa3f372e61bd9fcd055ebadd06a
JWT_ACCESS_EXPIRE_HOURS=6
JWT_REFRESH_SECURITY_KEY=0516a1fc101b01b82a507cdea5cdca13b681d295e41d0aab794ff34faa46f605
JWT_REFRESH_EXPIRE_HOURS=42

TELEGRAM_BOT_API_KEY=<TELEGRAM_BOT_API_KEY>

